@font-face{
    font-family:"helveticaneue-bold";
    src:url("./font/Helvetica Neu Bold.ttf") format("woff"),
}
@font-face{
    font-family:"helveticaneue-regular";
    src:url("./font/HelveticaNeue Regular.ttf") format("truetype"),
    }

  