*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
.images{
    position: relative;
    /* border: 3px solid black; */
    height: 100%;  
    width: 100%;      
}
.box{
    width: 100%;
    height: 308px;
    background-color:#0020F4;
    position: absolute;
    /* border: 3px solid red; */
}
.box h2{
    font-size: 32px;
    color: #fff;
    position: absolute;
    left: 240px;
    top:70px;
    font-family:"helveticaneue-bold"
}
.relative1{
    /* position: relative; */
    position: absolute;
    width: 463px;
    height: 420px;
    left: 240px;
    top: 188px;
    /* border: 3px solid red; */
}
.relative1 img{
    width: 463px;
    height: 420px;
    /* border: 3px solid red; */
}
.relative1p{
    /* border: 1px solid black; */
    position: absolute;
    width: 443px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 12px;
    filter: blur(10);
    filter: brightness(15);
    opacity: 40%;
    top: 285px;
    left: 10px;
    /* border: 3px solid red; */
}
.p1 {
    color: black;
    position: absolute;
    width: 339px;
    height: 65px;
    bottom: 40px;
    left: 40px;
    font-family:"helveticaneue-regular"
    /* border: 3px solid red; */
}
.relative2{
    position: relative;
    /* position: absolute; */
    width: 463px;
    height: 420px;
    left: 728px;
    top: 138px;
    /* border: 3px solid red; */
}
.relative2 img{
    width: 463px;
    height: 420px;
    border-radius: 15px;
    /* border: 3px solid red; */
}
.relative2p{
    /* border: 1px solid red; */
    position: absolute;
    width: 363px;
    height: 105px;
    background-color: #FFFFFF;
    border-radius: 12px;
    filter: blur(10);
    filter: brightness(15);
    opacity: 40%;
    top: 265px;
    left: 50px;
}
.p2 {
    /* border: 3px solid red; */
    color: black;
    position: absolute;
    width: 339px;
    height: 65px;
    bottom: 60px;
    left: 60px;
    font-family:"helveticaneue-bold"
}
.relative3{
    /* position: relative; */
    position: absolute;
    width: 463px;
    height: 420px;
    left: 1216px;
    top: 188px;
    /* border: 3px solid red; */
}
.relative3 img{
    width: 463px;
    height: 420px;
    /* border: 3px solid red; */
}
.relative3p{
    /* border: 1px solid black; */
    position: absolute;
    width: 443px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 12px;
    filter: blur(10);
    filter: brightness(15);
    opacity: 40%;
    top: 285px;
    left: 10px;
    /* border: 3px solid red; */
}
.p3 {
    color: black;
    position: absolute;
    width: 339px;
    height: 65px;
    bottom: 40px;
    left: 40px;
    font-family:"helveticaneue-regular"
    /* border: 3px solid red; */
}
.relative4{
    /* position: relative; */
    position: absolute;
    width: 463px;
    height: 420px;
    left: 1704px;
    top: 188px;
    /* border: 3px solid red; */
}
.relative4 img{
    width: 463px;
    height: 420px;
    /* border: 3px solid red; */
}
.relative4p{
    /* border: 1px solid black; */
    position: absolute;
    width: 443px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 12px;
    filter: blur(10);
    filter: brightness(15);
    opacity: 40%;
    top: 285px;
    left: 10px;
    /* border: 3px solid red; */
}
.p4 {
    color: black;
    position: absolute;
    width: 339px;
    height: 65px;
    bottom: 40px;
    left: 40px;
    font-family:"helveticaneue-regular"
    /* border: 3px solid red; */
}
.other-projects{
    position: absolute;
    font-size: 18px;
    left: 1519px;
    top: 678px;
    color: #171717;
    font-family:"helveticaneue-bold"
    /* border: 3px solid black; */
}